
<div class="header">
  <h1>Our mission...</h1>
  <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</strong>
</div> 

<div class="wrapper">
  <div class="main">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>

    <h2>
      <strong>See their joyful faces!!! They have already found their new HOME:</strong>
    </h2>

    <div style="width: 840px; height: 500px; align-items: center;">
      <ng-image-slider 
        [images]="imageObject"
        [infinite]="false"
        [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}"
        slideImage="1">
      </ng-image-slider>
      </div>
  </div>

  <div class="aside aside-1">
      <h2>Our adress</h2>
      <p>
        <i class="fa-regular fa-address-card"></i
        ><b>Lorem ipsum Agency</b>
      </p>
      <p>
        <i class="fa-solid fa-location-dot"></i
        ><b>Kraków</b>
      </p>
      <p>
        <i class="fa-solid fa-phone-volume"></i
        ><b>555 555 555</b>
      </p>
    </div>

  <div class="aside aside-2">
  <h2>Our partners</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>
  </div>
</div>

<!-- <div class="header">
  <h1></h1>
</div>
<div class="row">
  <div class="column side">
    <h2 style="color: gray">Our adress</h2>
    <p>
      <i class="fa-regular fa-address-card"></i
      ><b style="margin-left: 10px">Lorem ipsum Agency</b>
    </p>
    <p>
      <i class="fa-solid fa-location-dot"></i
      ><b style="margin-left: 10px">Kraków</b>
    </p>
    <p>
      <i class="fa-solid fa-phone-volume"></i
      ><b style="margin-left: 10px">555 555 555</b>
    </p>
  </div>

  <div class="column middle">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>

    <h3><strong style="color: darkcyan">See their joyful faces!!! They have already found their new HOME:</strong></h3>

    
   <div style="width: 840px; height: 500px; align-items: center;">
  <ng-image-slider 
    [images]="imageObject"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '25%', height: 200}"
    slideImage="1">
  </ng-image-slider>
  </div>
  </div>


  <div class="column side">
    <h2 style="color: gray">Our partners</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>
  </div>
</div>  -->

<!-- //sposob z poleconej strony
  <div class="wrapper">
  <header class="header">Header</header>

  <article class="main" >
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>  
  </article>
  <aside class="aside aside-1">Aside 1</aside>
  <aside class="aside aside-2">Aside 2</aside>
  <footer class="footer">Footer</footer>
</div> -->




<!-- //sposób samej ale nie wyswietla tak jak powinno
  <div class="wrapper">
  <div class="header">
    <h1>Our mission...</h1>
    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</strong>
  </div>
  <div class="main">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>
  </div>
  <div class="aside aside1">
    <h2>Aside 1</h2>
  </div>
  <div class="aside aside2">
    <h2>Aside 2</h2>
  </div>
  <div class="footer">
    <h3>Footer</h3>
  </div>
</div> -->
