
<div class="header">
  <h1>Our mission...</h1>
  <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</strong>
</div> 

<div class="wrapper">

  <div class="aside aside-1">
    <h2>Our adress</h2>
    <p>
      <i class="fa-regular fa-address-card"></i
      ><b>Lorem ipsum Agency</b>
    </p>
    <p>
      <i class="fa-solid fa-location-dot"></i
      ><b>Kraków</b>
    </p>
    <p>
      <i class="fa-solid fa-phone-volume"></i
      ><b>555 555 555</b>
    </p>
  </div>

  <div class="main">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>

    <h2>
      <strong>See their joyful faces!!! They have already found their new HOME:</strong>
    </h2>

    <div style="width: 740px; height: 400px; align-items: center;">
      <ng-image-slider 
        [images]="imageObject"
        [infinite]="false"
        [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}"
        slideImage="1">
      </ng-image-slider>
      </div>
  </div>

 

  <div class="aside aside-2">
  <h2>Our partners</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.
    </p>
  </div>
</div>


