<nav>
  <div class="logo">
    <a routerLink="/"
      ><i class="fa-solid fa-dog" alt="dog"><span>LOGO</span></i></a>
  </div>
  <ul class="menu">
    <li>
      <a routerLink="/about-us"
        ><i class="fa-solid fa-house-chimney-user"></i>ABOUT US</a>
    </li>
    <li>
      <a href="/"><i class="fa-solid fa-earth-americas"></i>OUR MISSION</a>
    </li>
    <li>
      <a href="/"><i class="fa-solid fa-envelope-circle-check"></i>CONTACT</a>
    </li>
    <li>
      <a href="/"><i class="fa-solid fa-user-plus"></i>SIGN IN</a>
    </li>
    <li>
      <a href="/"><i class="fa-solid fa-pen-to-square"></i>REGISTER</a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>










