.same {
    height: 200px;
    padding: 10px;
    background-color: blue;
    border: 1px solid black;
    box-sizing: border-box;
}

 .same.red {
    background-color: red;
    width: 150px;
}
 .same.green {
    background-color: green;
}

 .same.orange {
    background-color: orangered;
    width: 150px;
}

 .same.gray {
    background-color: gray;
}

.wraper  {
 display: flex;
 
 
}




