<div class="wraper">

  <div class="same red">
    <div>Tekst ttttttttttttttttttttttttttttttttttttttttttttttt<span>1</span></div>
  </div>

  <div class="same green">
    <div>   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet
      pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum
      magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo
      tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque
      tortor sed accumsan convallis.  </div>
  </div>

  <div class="same orange">
    <div>Ttttttttttttttttttt <span>3</span></div>
  </div>
</div>

<div class="same gray">Teskt 4</div>
